{% extends 'base.html' %}
	{% load staticfiles %}
	{% block content %}

<div class="page-header">

<h1 class="text-center"><em>Curriculum Vitae</em></h1>
<hr>

<div class="upper_item">
<h2 class="text-left"><u>Koulutus</u></h2>

<div class="item">
<h3 class="text-left"><u>Tietojenkäsittelytieteen maisteri, Tampereen yliopisto, 2016</u></h3>

<p class="text-left">
Pääaine: Tietokannat ja tiedonhaku
</p>

</div>

<div class="item">
<h3 class="text-left"><u>Diplomi-insinööri, Tampereen teknillinen yliopisto, 2009</u></h3>
<p class="text-left">Pääaine: Koneteollisuuden tuotantotekniikka
<br>
Sivuaine: Teollisuustalous
</p>

</div>

</div class="upper_item">

<div class="upper_item">
<h2 class="text-left"><u>Työkokemus</u></h2>

<div class="item">
<h3 class="text-left"><u>Suunnittelija, ATA Gears Oy, 03.2014 alkaen</u></h3>
<p class="text-left">
Teknillinen asiakaspalvelu
<br>
<br>
Kartiohammaspyörien suunnittelu
<br>
<br>
Ohjelmistokehitys
<br>
<br>
Tuotannon ongelmanratkaisun, tuotannonkehityksen ja laadunparannuksen tukeminen
</p>


</div>

</div>

	{% endblock %}

	{% block sideblock %}
	{% endblock %}