{% extends 'base.html' %}
	{% load staticfiles %}
	{% block content %}

<div class="page-header">

<h1 class="text-center"><em>Curriculum Vitae</em></h1>
<hr>

<div class="upper_item">
<h2 class="text-left"><u>Koulutus</u></h2>

<div class="item">
<h3 class="text-left"><u>Tietojenkäsittelytieteen maisteri, Tampereen yliopisto, 2016</u></h3>

<p class="text-left">
Pääaine: Tietokannat ja tiedonhaku
</p>

</div>

<div class="item">
<h3 class="text-left"><u>Diplomi-insinööri, Tampereen teknillinen yliopisto, 2009</u></h3>
<p class="text-left">Pääaine: Koneteollisuuden tuotantotekniikka
<br>
Sivuaine: Teollisuustalous
</p>

</div>

</div>

<div class="upper_item">
<h2 class="text-left"><u>Työkokemus</u></h2>

<div class="item">
<h3 class="text-left"><u>Suunnittelija, ATA Gears Oy, 03. 2014 alkaen</u></h3>
<p class="text-left">
Teknillinen asiakaspalvelu
<br>
<br>
Kartiohammaspyörien suunnittelu
<br>
<br>
Ohjelmistokehitys
<br>
<br>
Tuotannon ongelmanratkaisun, tuotannonkehityksen ja laadunparannuksen tukeminen
</p>

</div>

<div class="item">
<h3 class="text-left"><u>Projekti-insinööri, Ata Gears Oy, 01.09.2008-03. 2014</u></h3>

<p class="text-left">
Tuotantoprosessin kehittäminen
<br>
<br>
Investointiprojektit
<br>
<br>
Tuotannon ongelmanratkaisu
<br>
<br>
Ohjelmistokehitys
<br>
<br>
Laadunparannus ja laadunparannusprojektien johtaminen
</p>

</div>

<div class="item">
<h3 class="text-left"><u>Mittausteknikko, Ata Gears Oy, 11.06.2007-31.08. 2007</u></h3>

<p class="text-left">
Tuotannon laadunvalvontatehtävät 3D-koordinaattimittauskoneella
</p> 

</div>

<div class="item">
<h3 class="text-left"><u>Harjoittelija, Fastems Oy Ab, 29.05.2006-01.09. 2006</u></h3>

<p class="text-left">Uusien robottien varustelu, työstökoneiden ja robottien huolto- ja korjauskäynnit asiakkailla</p>

</div>

<div class="item">
<h3 class="text-left"><u>Koneistaja, Tasowheel Oy, 16.05.2005-26.08. 2005</u></h3>

<p class="text-left">
Vierintäjyrsinkoneen, vierintäpistokoneen ja avennuskoneen käyttäjä</p>

</div>

<div class="item">
<h3 class="text-left"><u>Asentaja, Fastems Oy Ab, 31.05.2004-30.07. 2004</u></h3>

<p class="text-left">
FPC-tuotteiden mekaaninen kokoonpano, pakkaaminen, lähettäminen ja saapuvan tavaran vastaanotto ja hyllyttäminen</p>

</div>

</div>


<div class="upper_item">
<h2 class="text-left"><u>Kielitaito</u></h2>


<div class="item">
<p class="text-left">
Suomi: äidinkieli
</p>

</div>

<div class="item">
<p class="text-left">
Englanti: erinomainen
</p>

</div>

<div class="item">
<p class="text-left">
Ruotsi: tyydyttävä
</p>

</div>

<div class="item">
<p class="text-left">
Saksa: alkeet
</p>

</div>

</div>

	{% endblock %}

	{% block sideblock %}

	<P>Tämä sivu on nähty {{katselukerrat.views}} kertaa</P>
	<br>
	<br>
	<a href="https://fi.linkedin.com/pub/janne-hyv%C3%B6nen/10a/a0b/668" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Janne Hyvönen's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Janne Hyvönen's profile</span></a>

	{% endblock %}