{% extends 'base.html' %}
	{% load staticfiles %}
	{% block content %}
	<div class="page-header">
		<br>
		<h1><center>Tervetuloa Jannen kotisivuille</center></h1>
		<br>
	<p>Nämä ovat Janne Hyvösen kotisivut. Näiden kotisivujen tarkoitus on
	toimia Jannen harjoitteluprojektina Django 1.9, AngularJS:n, Backbone.
	js:n ja vastaavien uusien työkalujen tai työkaluversioiden oppimiseksi.</p><br>
	<br>
	<h2>Kuka minä sitten olen?</h2> 
	<br>
	<p>Koulutukseltani olen konetekniikan DI ja kunhan saan kirjoiteltua graduni loppuun kesän aikana niin myös tietojenkäsittelytieteen maisteri. <br>
	<br>
	Asun Kangasalla vaimoni Taijan ja kolmen lyhytkarvaisen colliemme Vekan, Floran ja Dingon kanssa.<br>
	Vapaa ajallani pidän liikunnan harrastamisesta. Paras kilpailutulokseni on oman ikäryhmän 7.sija täyspitkän triathlonin sm-kisoissa 2014.
	<br>
	</p>
	</div>

	{% endblock %}
