{% extends 'base.html' %}
	{% load staticfiles %}
	{% block content %}
	<div class="page-header">
		<br>
		<h1><center>Tervetuloa Jannen kotisivuille</center></h1>
		<br>
	<p>Nämä ovat Janne Hyvösen kotisivut. Näiden kotisivujen tarkoitus on
	toimia Jannen harjoitteluprojektina Django 1.9, AngularJS:n, Backbone.
	js:n ja vastaavien uusien työkalujen tai työkaluversioiden oppimiseksi.</p><br>
	<br>
	<h2>Kuka minä sitten olen?</h2> 
	<br>
	<p>Koulutukseltani olen konetekniikan DI ja kunhan saan kirjoiteltua graduni loppuun kesän aikana niin myös tietojenkäsittelytieteen maisteri. <br>
	<br>
	Asun Kangasalla vaimoni Taijan ja kolmen lyhytkarvaisen colliemme Vekan, Floran ja Dingon kanssa.<br>
	Vapaa ajallani pidän liikunnan harrastamisesta. Paras kilpailutulokseni on oman ikäryhmän 7.sija täyspitkän triathlonin sm-kisoissa 2014.
	<br>
	</p>
	

	<div class="row">
            <div class="col-xs-6 col-lg-4">
              <h2><u>Blogi Taijan ja karvakorvien seikkailuista</u></h2>
              <p>Taija pitää blogia karvakorviemme kanssa harrastamisesta:</br>
              <a href="http://ruutanastrategia.vuodatus.net/">Go your own way</a>
               </p>
             </div>
            <div class="col-xs-6 col-lg-4">
              <h2><u>Suomen ironman tilastot</u></h2>
              <p>Täältä löytyy epävirallinen lista suomalaisista</br> 
              ironman-triathlonajoista, joidenka joukosta myös allekirjoittaneen </br> aika löytyy:</br>
              <a href="http://www.triathlonteam226.net/triathlon/suomen-ironman-tilastot.html">Epävirallinen tilastointi ajoista</a>
              </p>
             </div>
    </div>
    </div>

	{% endblock %}

	{% block sideblock %}
	<P>Tämä sivu on nähty {{katselukerrat.views}} kertaa</P>
	<br>
	<br>
	<a href="https://fi.linkedin.com/pub/janne-hyv%C3%B6nen/10a/a0b/668" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Janne Hyvönen's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Janne Hyvönen's profile</span></a>
	{% endblock %}

