{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="page-header">
<h1 class="align-left">Joitain referenssiprojekteja</h1>
<br>
<br>
<p class="align-left"> 
Tällä sivulla esittelen joitain tekemiäni ohjelmointiprojekteja, jotka
eivät ole <br> FAEO ("for authorized eyes only").
<br>
<br>
Pyrin lisäämään sivulle uusia projekteja sitä mukaan kun ne etenevät
riittävän pitkälle. Uusista projekteista kerron blogin puolella:
<br>
<br>
<a href="/blog">Linkki blogiin</a>
</p>
<hr>

<h2 class="align-left">PsToPDF</h2>
<br>
<br>
<p class="align-left">
Tämän projektin tarkoituksena oli aikaansaada Java-ohjelma, joka muuttaa <br>.ps-tiedostot (powescript) pdf-muotoon. 
<br>
<br>
Ohjelma toimii kahdella tavalla: <br>
<br>
Käyttäjä voi kopioida ohjelman kansioon, johon .ps-tiedostot on tallennettu ja tuplaklikkaamalla ohjelman kuvaketta kansion .ps tiedostoista tallennetaan samaan kansioon .pdf-tiedostoina.
<br>
<br>
Käyttäjä voi kopioida ohjelman haluamaansa paikkaan ja kutsua ohjelmaa komentoriviltä. Ohjelma lukee komentoriviltä parametrina polun, josta
.ps-tiedostot luetaan ja johon ne tallennetaan .pdf-tiedostoina.
<br>
<br>
Ohjelman lähdekoodi, tarkemmat käyttöohjeet ja tietoa ohjelman vaatimista
riippuvuuksista löytyy Github-tililtäni:
<br>
<a href="https://github.com/Hyvjan/psToPdf">PsToPdf Github:ssa</a>
<br>
<br>
Halutessasi voit kopioida ohjelman ja sen dokumentaation täältä:
<br>
<a href="https://drive.google.com/drive/folders/0BxX76hUYvAslOVFOdEtybGFUUGs?usp=sharing">PsToPdf-ohjelman tiedostot ja dokumentaatio</a>
<br>
<br>
Pelkän dokumentaation löydät halutessasi täältä:
<br>
<a href="
https://drive.google.com/file/d/0BxX76hUYvAsld2RPejVOQU5fSHM/view?usp=sharing">Dokumentaatio</a>

</p>
<hr>

<h2 class="align-left">Nämä kotisivut</h2>

<br>
<br>

<p class="align-left">
Nämä kotisivut on toteutettu käyttäen Django 1.9:ää. Alunperin rakensin sivut voidakseni harjoitella Djangossa tapahtuvia muutoksia versioiden vaihtuessa. Erityisesti djangon testityökaluihin on tullut muutoksia edellisissä versioissa ja siksi olen kirjoittanut harjoittelumielessä tälle sivulle yli 20 testiä, vaikka sivun toiminnallisuudet ovat aika yksinkertaisia.
<br>
<br>
Sivujen koodi löytyy Github-tililtäni:
<br>
<br>
<a href="https://github.com/Hyvjan/kotisivut">Linkki kotisivujen Github-repositoryyn</a>
</p>
<br>
<br>

</div>

{% endblock %}

{% block sideblock %}

<P>Tämä sivu on nähty {{katselukerrat.views}} kertaa</P>
<br>
<br>
<a href="https://fi.linkedin.com/pub/janne-hyv%C3%B6nen/10a/a0b/668" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Janne Hyvönen's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Janne Hyvönen's profile</span></a>

{% endblock %}
