{% extends 'base.html' %}
	{% load staticfiles %}
	{% block content %}
	<div class="page-header">
		<h1><center>Jannen blogi</center></h1>
		<u><a href='/blog/add_post'>Add a new post</a></u>
		{% if user.is_authenticated %}
		<u><a href="{% url 'logout' %}">Log out</a></u>
		{% endif %}
		{% if all_posts %}
		<div class="-header">
		<ul>
		{% for post in all_posts %}
		<hr>
		<p>Created at: {{post.created_at}}</p>
		<br>
		<p><u>{{post.title}}</u></p>
		<br>
		<p>{{post.content}}</p>
		<br>
		{% if user.is_authenticated %}
		<u><a href="{% url 'delete_post' pk=post.pk %}">Poista postaus</a></u>
		<u><a href="{% url 'edit_post' pk=post.pk %}">Editoi postausta</a></u>
		{% endif %}
		{% endfor %}
		</ul> 
		</div>
		{% endif %}
	{% endblock %}

	{% block sideblock %}
	<P>Tämä sivu on nähty {{katselukerrat.views}} kertaa</P>
	<br>
	<br>
	<a href="https://fi.linkedin.com/pub/janne-hyv%C3%B6nen/10a/a0b/668" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Janne Hyvönen's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Janne Hyvönen's profile</span></a>
	{% endblock %}